<div class="line" [style]="{'background-color': formulacion.cardHeader}"></div>
<div class="cont-img" [style]="{'background-image': 'url('+formulacion.imageHeader+')'}" >
   <div class="row justify-content-end text-end mt-5 pt-3">
      <div class="col-3 me-5"><span class="txt-btn">Volver</span><button class="btn-circle-w ms-5" [routerLink]="['/']"><img src="assets/arrow_prev.svg" class="arrow-ico" alt="img-arrow"></button></div>
   </div>
</div>
<div class="cont-detail">
   <div class="row py-5 mt-5">
      <div class="col-8 ps-0"><span class="title-prod">{{formulacion.nombre}}</span></div>
      <div class="col-4 text-end">
        <img class="logo-fehr-prod" src="assets/logo.jpg" alt="logo_fehrmann_marca">
      </div>
   </div>
</div>
<div class="header-table mx-5" [style]="{'background-color': formulacion.headerTable}">
   <div class="row">
      <div class="col-3 text-center">
         <span class="txt-h-table ">Materia Prima</span>
      </div>
      <div class="col-5 text-center border-start border-3 border-light ">
         <span class="txt-h-table">INCI</span>
      </div>
      <div class="col-2 text-center  border-start border-3 border-light ">
         <span class="txt-h-table">% Uso</span>
      </div>
      <div class="col-2 text-center  border-start border-3 border-light ">
         <span class="txt-h-table">Fabricante</span>
      </div>
   </div>
</div>
@for (item of formulacion.etapas; track $index) {
   <div class="mx-5 pt-5">
      <div class="col-1 header-card text-center" [style]="{'background-color': formulacion.cardHeader}">
         <span class="txt-title-card">
            Fase {{item.fase}}
         </span>
      </div>
         <div class="card-form" [style]="{'border-color': formulacion.lineColor}">
            @for (item2 of item.compuestos; track $index) {
               <div class="row py-4 mx-5" [style]="{'border-bottom': '1px solid '+formulacion.lineColor+''}" >
                  <div class="col-3">
                     <span class="txt-tr-table-s ">{{item2.nombre}}</span>
                  </div>
                  <div class="col-5">
                     <span class="txt-tr-table">{{item2.INCI}}</span>
                  </div>
                  <div class="col-2 text-center">
                     <span class="txt-tr-table-s">{{item2.uso}}</span>
                  </div>
                  <div class="col-2 text-center">
                     <span class="txt-tr-table">{{item2.fabricante}}</span>
                  </div>
               </div>
             }
         </div>
   </div>
}

