.line{
    height: 30px;
    background-color: #1DACFF;
}

.cont-img{
    height: 527px;
    background-size: cover;
    border-bottom-left-radius: 30px ;
    border-bottom-right-radius: 30px;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-circle-w{
    background-color: #FFFFFF;
    width: 111px;
    height: 111px;
    border-radius: 50%;
}

.txt-btn{
    font-family: 'Roboto';
    font-size: 48px;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-weight: 400;
}

.arrow-ico{
    width: 90px;
}

.title-prod{
    font-family: 'Red Hat Display';
    font-size: 67px;
    letter-spacing: -2px;
    color: #1C4359;
    font-weight: 500;
}

.cont-detail{
    padding: 0px 75px;
}

.logo-fehr-prod{
    width: 425px;
}

.header-table{
    padding: 0px 75px;
    height: 126px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.txt-h-table{
    font-family: 'Open Sans';
    font-size: 39px;
    font-weight: bold;
    color: #1C4359;
}

.header-card{
    height: 93px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-form{
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    margin-bottom: 20px;
}

.txt-title-card{
    font-family: 'Open Sans';
    font-size: 39px;
    font-weight: bold;
    color: #1C4359;
}

.txt-tr-table-s{
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 37px;
    letter-spacing: -2px;
}

.txt-tr-table{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 37px;
    letter-spacing: -2px;
}

/* Styles for screens smaller than 768px */
@media (max-width: 767px) {

    .cont-img{
        height: 120px;
        border-radius: 0px;
    }

    .cont-detail{
        padding: 0px 25px;
    }

    .logo-fehr-prod{
        width: 100px;
        height: auto;
    }

    .title-prod{
        font-size: 25px;
        letter-spacing: -1px;
    }

    .btn-circle-w{
        width: 50px;
        height: 50px;
    }
    
    .txt-btn{
        font-size: 20px;
    }
    
    .arrow-ico{
        width: 25px;
    }

    .header-table{
        height: 50px;
        padding: 0px 25px;
        width: 500px;
    }

    .txt-h-table{
        font-size: 15px;
    }

    .header-card{
        height: 50px;
    }

    .txt-title-card{
        font-size: 20px;
    }

    .txt-tr-table-s{
        font-size: 15px;
        letter-spacing: -1px;
    }

    .txt-tr-table{
        font-size: 15px;
        letter-spacing: -1px;
    }
}

/* Styles for screens between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
    .cont-img{
        height: 120px;
        border-radius: 0px;
    }

    .cont-detail{
        padding: 0px 25px;
    }

    .logo-fehr-prod{
        width: 150px;
        height: auto;
    }

    .title-prod{
        font-size: 25px;
        letter-spacing: -1px;
    }

    .btn-circle-w{
        width: 50px;
        height: 50px;
    }
    
    .txt-btn{
        font-size: 20px;
    }
    
    .arrow-ico{
        width: 25px;
    }

    .header-table{
        height: 50px;
        padding: 0px 25px;
        /* width: 87%; */
    }

    .txt-h-table{
        font-size: 15px;
    }

    .header-card{
        height: 50px;
    }

    .txt-title-card{
        font-size: 17px;
    }

    .txt-tr-table-s{
        font-size: 15px;
        letter-spacing: -1px;
    }

    .txt-tr-table{
        font-size: 15px;
        letter-spacing: -1px;
    }
}

/* Styles for screens 1024px and larger */
@media (min-width: 1024px) {
    .cont-img{
        height: 120px;
        border-radius: 0px;
    }

    .cont-detail{
        padding: 0px 25px;
    }

    .logo-fehr-prod{
        width: 150px;
        height: auto;
    }

    .title-prod{
        font-size: 25px;
        letter-spacing: -1px;
    }

    .btn-circle-w{
        width: 50px;
        height: 50px;
    }
    
    .txt-btn{
        font-size: 20px;
    }
    
    .arrow-ico{
        width: 25px;
    }

    .header-table{
        height: 50px;
        padding: 0px 25px;
        /* width: 91%; */
    }

    .txt-h-table{
        font-size: 15px;
    }

    .header-card{
        height: 50px;
    }

    .txt-title-card{
        font-size: 17px;
    }

    .txt-tr-table-s{
        font-size: 15px;
        letter-spacing: -1px;
    }

    .txt-tr-table{
        font-size: 15px;
        letter-spacing: -1px;
    }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }

  .cont-img{
    height: 200px;
    border-radius: 0px;
}

  
}

@media (min-width: 2200px) {
    .cont-img{
        height: 527px;
    }

    .btn-circle-w{
        width: 111px;
        height: 111px;
    }

    .txt-btn{
        font-size: 48px;
    }

    .arrow-ico{
        width: 90px;
    }

    .title-prod{
        font-size: 67px;
        letter-spacing: -2px;
    }

    .logo-fehr-prod{
        width: 425px;
    }

    .header-table{
        height: 126px;
        /* width: 96%; */
    }

    .txt-h-table{
        font-size: 39px;
    }

    .header-card{
        height: 93px;
    }
    
    .txt-title-card{
        font-size: 39px;
    }
    
    .txt-tr-table-s{
        font-size: 37px;
    }
    
    .txt-tr-table{
        font-size: 37px;
        letter-spacing: -2px;
    }
}